<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      <span *ngIf="icon" class="material-icons-outlined card-icon">{{ icon }}</span>
      {{ title }}
    </h3>
  </div>
  
  <div class="card-body">
    <div class="card-value">{{ displayValue }}</div>
    
    <div *ngIf="trend" class="card-trend" [class.trend-up]="trend === 'up'" 
                                     [class.trend-down]="trend === 'down'">
      <mat-icon *ngIf="trend === 'up'">trending_up</mat-icon>
      <mat-icon *ngIf="trend === 'down'">trending_down</mat-icon>
      <span *ngIf="trendValue" class="trend-value">{{ trendValue }}</span>
    </div>
    
    <ng-content></ng-content>
  </div>
</div>